/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cinzel Decorative", serif;
  background: linear-gradient(135deg, #071a26, #0a2233, #0f2e45);
  min-height: 100vh;
  padding: 20px;
  color: white;
}

/* NAVIGATION */
.main-navigation {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.navigation-list {
  display: flex;
  list-style: none;
  gap: 40px;
}

.navigation-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navigation-link:hover {
  color: #70c7ff;
}

/* HEADER */
.dashboard-header {
  text-align: center;
  margin-bottom: 30px;
}

.dashboard-title {
  font-size: 40px;
}

.dashboard-subtitle {
  font-size: 16px;
  letter-spacing: 2px;
}

/* INVENTORY SECTION */
.inventory-section {
  background: rgba(35, 110, 156, 0.85);
  padding: 30px;
  width: 95%;
  margin: auto;
  border-radius: 15px;
}

/* TOP OF TABLE */
.inventory-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.inventory-title {
  font-size: 32px;
  color: white;
}

/* SEARCH */
.search-box input {
  width: 250px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  background: #0c1b26;
  color: white;
}

/* TABLE GRID */
.table-header,
.table-row {
  display: grid;
  grid-template-columns: 1fr 2fr 4fr 1.5fr 2fr;
  padding: 12px 20px;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  border-radius: 8px;
}

.table-header {
  background: rgba(255, 255, 255, 0.25);
  font-weight: bold;
}

/* BUTTONS */
.update-btn {
  background: #1d8e1d;
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.delete-btn {
  background: #a60404;
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.update-btn:hover {
  background: #27b327;
}

.delete-btn:hover {
  background: #c10505;
}
